/* **************************Avatar popout modification******************* */

/*Header container box*/
.headerNormal-1l1Znk{
   min-height: 400px;
}

/* nickname positioning */
.headerTop-2cWpdB {
    text-align: center;
    min-height: 100px;
    top: 300px;
    position: relative;
    padding-top: 3px;
    padding-bottom: 0px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #1c1f28;
}

/* hides badges*/
.headerTop-2cWpdB .container-q03LZO {
    visibility: hidden !important;
}

/*hides banner*/
.profileBanner-33-uE1 {
  height: 0px;
  padding: 0px;
  visibility: hidden !important;
}


.avatarPositionNormal-1CZUPk {
  top:0;
  padding:0;
  height:300px;
  width:100%;
}

.avatarWrapper-1-5NA0 {
    position: absolute;
    left: 0;
    bottom: 0;
}

/**/
.avatar-22FtUu {
  border:0px;
}


.avatarWrapper-1-5NA0 .wrapper-3t9DeA {
    position: relative;
    top: 0px;
    height: 300px !important;
    width: 100% !important;
    border: 0px;
}

.avatarHint-1E3LMl {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}


.avatarHint-1E3LMl foreignObject {
  mask: none !important;
}

/*view profile text */
.avatarHintInner-2kMTo4 {
    font-size: 0.5em;
    text-shadow: 1px 1px 3px black;
}

/*turns the avatar into a rectangle shape*/
.avatarWrapper-1-5NA0 .wrapper-3t9DeA .mask-1l8v16 foreignObject {
    mask: none !important;
}

/* Status bar below the avatar as a thin rectangle*/
.avatarWrapper-1-5NA0 .mask-1l8v16 rect {
    x: 0; 
    y: 78;
    width: 80px;
    height: 3px;
    mask: none !important;
}

.headerText-2WJ44e {padding-bottom: 2px;}


/*.activityUserPopout-2yItg2 activity-fViXj7*/