/* **************************Avatar popout modification******************* */


/*Body container box*/
.body-3HBlXn {
   min-height: 700px;
   top:300px;
   padding-top:5px;
   overflow: auto !important;
 }
 
/*.customStatus-oN4ZZY  custom status class*/
/*Positions the custom status to center*/
.body-3HBlXn .customStatus-oN4ZZY{
  text-align:center;
}
/* nickname positioning */
.headerTop-3vNv-a {
    text-align: center;
    min-height: 50px;
    top: 300px;
    position: relative;
    padding-top: 3px;
    padding-bottom: 0px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #1c1f28;
}


/* hides badges; OK*/ 
.headerTop-3vNv-a .container-q03LZO {
    visibility: hidden !important;
}

/*hides banner*/
.headerNormal-3KXFBt {
  height: 0px;
  padding: 0px;
  visibility: hidden !important;
}


.avatarWrapperNormal-26WQIb {
  top:0;
  padding:0;
  height:300px;
  width:100%;
}

.avatarWrapper-3r9PdD {
    position: absolute;
    left: 0;
    bottom: 0;
}

/**/
.avatar-37jOim {
  border:0px;
}


.avatarWrapper-3r9PdD .wrapper-3t9DeA {
    position: relative;
    top: 0px;
    height: 300px !important;
    width: 100% !important;
    border: 0px;
}

.avatarHint-2A3RNb {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}


.avatarHint-2A3RNb foreignObject {
  mask: none !important;
}

/*view profile text */
/*
.avatarHintInner-2kMTo4 {
    font-size: 0.5em;
    text-shadow: 1px 1px 3px black;
}
*/
/*turns the avatar into a rectangle shape*/
.avatarWrapper-3r9PdD .wrapper-3t9DeA .mask-1l8v16 foreignObject {
    mask: none !important;
}

/* Status bar below the avatar as a thin rectangle*/
.avatarWrapper-3r9PdD .mask-1l8v16 rect {
    x: 0; 
    y: 78;
    width: 80px;
    height: 3px;
    mask: none !important;
}

.headerText-1vVs-U {padding-bottom: 2px;}

/*.activityUserPopout-2yItg2 .activity-2INFPu*/
/*Activity panel placement so it doesn't overlap with the avatar*/
/*
.body-3HBlXn .activityUserPopout-2yItg2 .activity-2INFPu {
    position:absolute;
    left:300px;
    top:0px;
    background-color:  #1c1f28;
    padding-bottom: 16px;
}
*/
